<%= link_to "新規投稿ページへ", new_claim_path,class:"btn btn-primary" %>

<h3>一覧</h3>
<div class="table">
    <% @claims.each do |t| %>
    <div class="claim">
        <%= t.title %>
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to claim_like_path(id: t.id, claim_id: t.id), method: :delete do %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to claim_likes_path(id: t.id, claim_id: t.id), method: :post do %>
                <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
            <%= t.created_at %>
            <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
            <%= link_to "詳細へ", claim_path(t.id),class:"btn btn-primary" %>
        <% if user_signed_in? && current_user.id == t.user_id %>  
            <%= link_to "編集する", edit_claim_path(t.id),class:"btn btn-primary" %>
        <% end %> 
    </div>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id),class:"btn btn-primary"%>　
    <%= link_to "一覧に戻る", claims_path, class:"btn btn-primary" %>

    <% end %>
</div>